html,
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 15px;
  color: black;
}

*,
*::before,
*::after{
  box-sizing: border-box;
}

.text-center{
  text-align: center;
}

.wrapper{
  margin-top: 100px;
}
.container{
  max-width: 600px;
  margin: 0 auto;
  padding: 0 15px;
}

.todo__title{
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 40px;
}

.todo__input{
  width: 100%;
  border-radius: 5px;
  height: 40px;
  border: 1px solid #ccc;
  padding: 10px;

  transition: border-color .2s linear;
}

.todo__input:focus{
  border-color: #80CFA9;
}

.todo__list{
  display: flex;
  flex-direction: column;
  margin: 20px 0 40px;
}

.todo__clear-list-btn{
  padding: 10px 15px;
  border: 1px solid #80CFA9;
  border-radius: 5px;
  background-color: #fff;
  color: #80CFA9;
  transition: color .2s linear,
    background .2s linear;
}

.todo__clear-list-btn:hover{
  color: #fff;
  background-color: #80CFA9;
}

/* TODO ITEM */

.todo-item{
  display: flex;
  align-items: center;
  /* padding: 0px 10px; */
  margin-bottom: 30px;

  font-size: 15px;
  font-weight: 500;
  color: black;
}

.todo-item:last-child{
  margin-bottom: 0;
}

.todo-item__checkbox{
  display: flex;
  justify-content: flex-start;
  width: 5%;
}

.todo-item__text{
  overflow: hidden;
  text-overflow: ellipsis;
  width: 80%;
  color: black;
  white-space: nowrap;
}

.todo-item__manage{
  display: flex;
  justify-content: flex-end;
  width: 15%;
}

.todo-item__manage-edit, .todo-item__manage-remove{
  padding: 0;
  border: 0;
  background: none;
  transition: color .2s linear;
}

.todo-item__manage-edit{
  margin-right: 20px;
}
.todo-item__manage-edit:hover{
  color: blue;
}

.todo-item__manage-remove:hover{
  color: red;
}