body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*,
*::before,
*::after{
  box-sizing: border-box;
}

.wrapper{
  display: flex;
  min-height: 100vh;
  width: 100%;
}

.sidebar{
  width: 30%;
  min-height: 100vh;

  box-shadow: 0 0 10px rgba(0,0,0, .5);
}
.sidebar__time{
  text-align: center;
}
.main{
  width: 70%;
  height: 100%;
  /* background: yellow; */
}
.header h1{
  text-align: center;
}

.todo{

}

.container{
  max-width: 800px;
  height: auto;
  margin: 0 auto;
}

.todo__title{
  text-align: center;
  font-size: 25px;
}

.todo__input{
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px;
  min-height: 40px;

}

.todo__list{
  list-style: none;
  margin: 20px 0;
  padding: 0;
}

.todo__item{
  display: flex;
  min-height: 40px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.todo__item:last-child{
  margin-bottom: 0;
}

.todo__item-count{
  margin-right: 10px;
}
.todo__checkbox{
  cursor: pointer;
}

.todo__item-title{
  display: inline-block;
  margin: 0;
  margin-left: 20px;

}

.todo__edit, .todo__remove{
  transition: color .2s linear;
  cursor: pointer;
  color: #aaa;
}
.todo__edit:hover{
  color: blue;
}
.todo__remove:hover{
  
  color: red;
}
.todo__remove{
  margin-left: 20px;
}

.todo__remove img{
  width: 20px;
  height: 20px;
}